{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Workouts {% endblock %}</h1>
    {% for workouts in workouts %}
        <div class='post'>
          <h2>{{ workouts['username'] }}</h2>
            <p>{{ workouts['exercise'] }}</p>
            <p>{{ workouts['weight'] }}</p>
             <p>{{ workouts['totalweight'] }}</p>
            <p>{{ workouts['repititions'] }}</p>
            <p>{{ workouts['time'] }}</p>
            <p>{{ workouts['created'] }}</p>

        </div>
    {% endfor %}
{% endblock %}
